* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --navBlue: #1a62a5;
  --footerGray: #495057;
  --backGRound: rgb(241, 243, 245);
  --white: rgb(255, 255, 255);
  --fontGray: #adb5bd;
  --fontBlue: #0b78df;
  --header-height: 10vh;
  --fontYellow: #fae20e;
  --navYellow: #89920bce;
}

body {
  font-family: "Source Sans Pro", sans-serif !important;
  background: var(--backGRound) !important;
}
.text-title {
  color: var(--fontGray);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--fontBlue);
}
header {
  width: 100%;
  min-height: var(--header-height);
  background: var(--navBlue);
  display: flex !important;
  justify-content: space-between !important;
}
.icon {
  height: var(--header-height);
}
.icon-container {
  margin-left: 20px !important;
  margin-right: 40px !important;
}

header .content {
  width: 60%;
}
.navigation-link {
  color: rgb(184, 193, 201);
  margin-right: 20px;
  transition: color 0.15s;
  transition-timing-function: ease-in;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.navigation-link:hover {
  color: white;
  text-decoration: none;
}
nav {
  display: flex !important;
  flex-flow: row nowrap !important;
}
.flex {
  display: flex;
}
.content-center {
  justify-content: center !important;
}
.items-center {
  align-items: center !important;
}
.content-space-between {
  justify-content: space-between !important;
}
.row-nowrap {
  flex-flow: row nowrap !important;
}
.white {
  color: rgb(184, 193, 201);
  transition: color 0.2s;
  transition-timing-function: ease-in;
}
.white:hover {
  color: white;
}
.margin-left {
  margin-left: 20px;
}
.mobil {
  display: none;
}
.remove-icon{
  cursor: pointer;
  margin-top:0.4rem;
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  color: var(--fontYellow);
}

@media screen and (max-width: 768px) {
  header .content {
    display: none !important;
  }
  .mobil {
    display: flex;
  }
}
